In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#read in pickle file

ords_prods_merge = pd.read_pickle(r'C:\Users\senoe\OneDrive\SEN Docs\Data Sci Job Applications\CareerFoundry\Datasets\Prepared data\orders_products_combined_new.pkl')

In [3]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid_range product,Least busy,Fewest orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders

In [4]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [5]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

### Analyze the result. 

How do the results for the entire dataframe differ from those of the subset? The first most obvious obervationis that there are slight difference in the mean using the entire dataframe rather than a subset. By using a larger dataframe the results should be more accurate.

In [7]:
#Aggregating Data with transform()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [9]:
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [10]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number',
       'orders_day_of_the_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge',
       'product_name', 'aisle_id', 'department_id', 'prices',
       'price_range_loc', 'busiest_day', 'busiest_period_of_day', 'max_order',
       'avg_price', 'median_days_since_prior_order'],
      dtype='object')

In [11]:
#Check data

ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,avg_price,median_days_since_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,10,6.367797,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Fewest orders,10,6.367797,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,10,6.367797,20.5
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Fewest orders,10,6.367797,20.5
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,22,3.980556,10.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,22,3.980556,10.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0

In [12]:
#Data check all rows

pd.options.display.max_rows = None

In [13]:
# Data check

ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,avg_price,median_days_since_prior_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,10,6.367797,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Fewest orders,10,6.367797,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,10,6.367797,20.5
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,6.367797,20.5
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,10,6.367797,20.5
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Fewest orders,10,6.367797,20.5
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,22,3.980556,10.0
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,22,3.980556,10.0
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,22,3.980556,10.0
15,2293453,19,prior,2,5,14,6.0,196,3,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,9,8.372059,6.0
16,1973799,19,prior,5,6,12,8.0,196,15,1,...,Soda,77,7,9.0,Mid_range product,Slowest days,Highest orders,9,8.372059,6.0
17,532817,19,prior,7,4,17,6.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,9,8.372059,6.0
18,1573906,21,prior,10,3,10,6.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,33,7.012683,7.5
19,1593000,31,prior,10,3,8,7.0,196,17,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,20,8.137793,6.0
20,2231262,31,prior,17,3,11,8.0,196,14,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,20,8.137793,6.0
21,2580647,43,prior,6,4,16,4.0,196,9,0,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,11,7.444898,10.0
22,2187180,43,prior,9,4,12,3.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,11,7.444898,10.0
23,2497897,52,prior,1,1,9,NaN,196,4,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,27,6.356287,8.0
24,1318871,52,prior,2,1,10,7.0,196,5,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,27,6.356287,8.0
25,1261384,52,prior,3,1,10,7.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,27,6.356287,8.0
26,580568,52,prior,5,2,10,8.0,196,6,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
27,2428073,52,prior,7,2,7,8.0,196,5,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,27,6.356287,8.0
28,342306,52,prior,9,1,11,7.0,196,5,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,27,6.356287,8.0
29,1520353,52,prior,10,2,10,8.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
30,2542086,52,prior,11,2,9,7.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
31,944694,52,prior,12,1,16,6.0,196,7,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,27,6.356287,8.0
32,1268191,52,prior,15,2,11,8.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
33,1122089,52,prior,17,2,10,6.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
34,1498922,52,prior,18,2,10,14.0,196,6,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
35,180919,52,prior,19,3,8,8.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,27,6.356287,8.0
36,2695875,52,prior,21,5,10,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,27,6.356287,8.0
37,3205960,67,prior,1,3,11,NaN,196,1,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
38,970922,67,prior,2,1,15,5.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
39,596585,67,prior,3,1,13,7.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
40,2037087,67,prior,4,2,9,8.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
41,2474111,67,prior,5,3,14,8.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
42,1568481,67,prior,6,3,12,7.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
43,2048527,67,prior,8,2,11,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
44,2389031,67,prior,9,2,14,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
45,2378562,67,prior,10,1,10,6.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
46,1515698,67,prior,11,1,11,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
47,1928050,67,prior,12,2,12,8.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
48,1949274,67,prior,13,1,10,6.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
49,551869,67,prior,14,1,9,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
50,768572,67,prior,16,4,10,9.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,24,7.656790,7.0
51,150528,67,prior,18,5,16,4.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
52,29758,67,prior,19,0,14,9.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,24,7.656790,7.0
53,1558976,67,prior,21,1,9,5.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
54,863974,67,prior,22,1,11,14.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
55,2308399,67,prior,23,1,14,14.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,24,7.656790,7.0
56,2759128,81,prior,3,1,9,14.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,7,8.165385,30.0
57,1812985,81,prior,5,2,20,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Average orders,7,8.165385,30.0
58,1889835,82,prior,1,3,15,NaN,196,6,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
59,499460,82,prior,3,5,10,5.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
60,2728456,82,prior,4,0,11,16.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
61,2653743,82,prior,6,4,9,13.0,196,5,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,19,6.441221,11.5
62,1358880,82,prior,9,1,10,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,19,6.441221,11.5
63,343588,82,prior,10,2,11,1.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
64,3034663,82,prior,15,2,11,12.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
65,147262,82,prior,18,1,13,7.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,19,6.441221,11.5
66,3144004,82,prior,19,2,15,8.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,19,6.441221,11.5
67,2126069,98,prior,3,0,9,25.0,196,7,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,14,8.028000,25.0
68,2210120,98,prior,7,5,14,5.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,14,8.028000,25.0
69,681011,98,prior,9,3,9,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,14,8.028000,25.0
70,2846344,98,prior,11,4,13,15.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,14,8.028000,25.0
71,747431,98,prior,12,6,13,30.0,196,4,1,...,Soda,77,7,9.0,Mid_range product,Slowest days,Highest orders,14,8.028000,25.0
72,2383054,98,prior,13,4,11,30.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,14,8.028000,25.0
73,1993729,98,prior,14,5,8,8.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,14,8.028000,25.0
74,1403849,109,prior,3,3,17,9.0,196,5,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,6,5.850725,26.0
75,520620,120,prior,1,3,11,NaN,196,2,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,3,9.385714,19.0
76,3273029,120,prior,3,2,8,19.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,3,9.385714,19.0
77,1861943,185,prior,2,1,12,25.0,196,10,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,6,7.715000,25.0
78,2040988,195,prior,1,1,14,NaN,196,2,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,58,7.149730,4.0
79,1680569,195,prior,8,1,9,4.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,58,7.149730,4.0
80,276171,195,prior,19,5,11,3.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
81,2744976,195,prior,22,5,10,7.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
82,2781919,195,prior,25,1,14,4.0,196,1,1,...,Soda,77,7,9.0,Mid_range product,Busiest days,Highest orders,58,7.149730,4.0
83,1738718,195,prior,31,2,8,4.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Fewest orders,58,7.149730,4.0
84,3058369,195,prior,34,3,10,6.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
85,1485596,195,prior,37,2,15,0.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
86,417035,195,prior,40,3,16,2.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
87,1615297,195,prior,47,5,10,2.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
88,1765587,195,prior,52,3,12,2.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,58,7.149730,4.0
89,745908,195,prior,57,4,11,3.0,196,3,1,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,58,7.149730,4.0
90,2505656,222,prior,17,2,12,1.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,70,6.862397,5.0
91,3268370,222,prior,38,5,15,1.0,196,6,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,70,6.862397,5.0
92,2016711,290,prior,9,5,19,6.0,196,8,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Average orders,51,7.285597,7.0
93,2706088,290,prior,28,6,10,7.0,196,16,1,...,Soda,77,7,9.0,Mid_range product,Slowest days,Highest orders,51,7.285597,7.0
94,1952286,331,prior,6,5,16,30.0,196,8,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,8,7.705128,30.0
95,3226575,360,prior,1,5,12,NaN,196,1,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,3,10.006250,4.0
96,1469869,377,prior,3,5,17,3.0,196,9,0,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Highest orders,3,8.496552,16.5
97,1927023,387,prior,2,4,10,22.0,196,3,0,...,Soda,77,7,9.0,Mid_range product,Least busy,Highest orders,8,7.396610,8.0
98,858092,420,prior,4,1,19,30.0,196,2,0,...,Soda,77,7,9.0,Mid_range product,Busiest days,Average orders,22,7.387805,7.0
99,119314,420,prior,5,3,19,16.0,196,2,1,...,Soda,77,7,9.0,Mid_range product,Regularly busy,Average orders,22,7.387805,7.0

In [14]:
# Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [18]:
# Check data

ords_prods_merge[['loyalty_flag', 'order_number', 'prices']].head(60)

        loyalty_flag  order_number  prices
0       New customer             1     9.0
1       New customer             2     9.0
2       New customer             3     9.0
3       New customer             4     9.0
4       New customer             5     9.0
5       New customer             6     9.0
6       New customer             7     9.0
7       New customer             8     9.0
8       New customer             9     9.0
9       New customer            10     9.0
10  Regular customer            15     9.0
11  Regular customer            17     9.0
12  Regular customer            18     9.0
13  Regular customer            21     9.0
14  Regular customer            22     9.0
15      New customer             2     9.0
16      New customer             5     9.0
17      New customer             7     9.0
18  Regular customer            10     9.0
19  Regular customer            10     9.0
20  Regular customer            17     9.0
21  Regular customer             6     9.0
22  Regular customer             9     9.0
23  Regular customer             1     9.0
24  Regular customer             2     9.0
25  Regular customer             3     9.0
26  Regular customer             5     9.0
27  Regular customer             7     9.0
28  Regular customer             9     9.0
29  Regular customer            10     9.0
30  Regular customer            11     9.0
31  Regular customer            12     9.0
32  Regular customer            15     9.0
33  Regular customer            17     9.0
34  Regular customer            18     9.0
35  Regular customer            19     9.0
36  Regular customer            21     9.0
37  Regular customer             1     9.0
38  Regular customer             2     9.0
39  Regular customer             3     9.0
40  Regular customer             4     9.0
41  Regular customer             5     9.0
42  Regular customer             6     9.0
43  Regular customer             8     9.0
44  Regular customer             9     9.0
45  Regular customer            10     9.0
46  Regular customer            11     9.0
47  Regular customer            12     9.0
48  Regular customer            13     9.0
49  Regular customer            14     9.0
50  Regular customer            16     9.0
51  Regular customer            18     9.0
52  Regular customer            19     9.0
53  Regular customer            21     9.0
54  Regular customer            22     9.0
55  Regular customer            23     9.0
56      New customer             3     9.0
57      New customer             5     9.0
58  Regular customer             1     9.0
59  Regular customer             3     9.0

In [19]:
# Multiple Aggregations - multiple statistics

ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [20]:
#calculate a new column as the mean of 'price'

ords_prods_merge['avg_price'] = ords_prods_merge[['prices']].mean(axis=1)

In [21]:
# Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'loyalty_flag_price'] = 'Low spender'

In [22]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'loyalty_flag_price'] = 'High spender'

In [23]:
ords_prods_merge['loyalty_flag_price'].value_counts(dropna = False)

Low spender     21760937
High spender    10643922
Name: loyalty_flag_price, dtype: int64

In [24]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_period_of_day,max_order,avg_price,median_days_since_prior_order,loyalty_flag,loyalty_flag_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,9.0,20.5,New customer,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,Mid_range product,Regularly busy,Fewest orders,10,9.0,20.5,New customer,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,Mid_range product,Regularly busy,Highest orders,10,9.0,20.5,New customer,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,Mid_range product,Least busy,Fewest orders,10,9.0,20.5,New customer,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,Mid_range product,Least busy,Highest orders,10,9.0,20.5,New customer,Low spender

Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [25]:
# convert string to an integer

ords_prods_merge['days_since_prior_order'] = ords_prods_merge['days_since_prior_order'].astype("Int64")

In [26]:
print (ords_prods_merge['days_since_prior_order'].dtypes)

Int64

In [27]:
ords_prods_merge['days_since_prior_order'] = ords_prods_merge['days_since_prior_order'].fillna(0)

In [28]:
# Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_flag'] = 'Non-frequent customer'

In [29]:
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] >10) & (ords_prods_merge['days_since_prior_order'] <= 20), 'order_flag'] = 'Regular customer'

In [30]:
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_flag'] = 'Frequent customer'

In [31]:
#Frequency

ords_prods_merge['order_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          6905719
Non-frequent customer     2162928
NaN                       1776359
Name: order_flag, dtype: int64

In [32]:
#Create a path
path_new = r'C:\Users\senoe\OneDrive\SEN Docs\Data Sci Job Applications\CareerFoundry\Datasets'

In [33]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path_new, 'Prepared data', 'orders_products_merge_new.pkl'))